/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_6_10_2024_7_33_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_6_10_2024_7_33_PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_6_10_2024_7_33_PM__Changes_.xml
/.idea/workspace.xml
TestUs/src/main/resources/application.properties
