<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user_dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Course details</title>
</head>
<body>
    <div class="main-content container-fluid" layout:fragment="content">
        <div class="text-center mt-5">
            <h2 th:text="${selectedCourse.name}">View Course</h2>
        </div>
        <div class="m-2">
            <a href="/admin/view-course/" class="btn btn-primary">Go Back</a>
        </div>

<!--        <div th:if="${successMessage}" class="alert alert-success text-center">-->
<!--            [[${successMessage}]]-->
<!--        </div>-->
<!--        <div th:if="${failMessage}" class="alert alert-danger text-center">-->
<!--            [[${failMessage}]]-->
<!--        </div>-->
        <form th:action="@{/admin/update-course}" method="post">
            <div class="form-element">
                <input type="hidden" id="courseId" name="courseId" th:value="${selectedCourse.id}">
            </div>
            <div class="form-element">
                <label for="courseName">Course Name</label>
                <input type="text" class="form-control" id="courseName" name="courseName" th:value="${selectedCourse.name}" required>
            </div>

            <div class="form-element">
                <label for="courseDescription">Course Description</label>
                <input type="text" class="form-control" id="courseDescription" name="courseDescription" th:value="${selectedCourse.description}" required>
            </div>
            <div class="form-element">
                <label for="courseTeacher">Teacher Email</label>
                <select id="courseTeacher" name="courseTeacher" class="form-control" required>
                    <option th:each="teacher : ${allTeacher}" th:value="${teacher.id}" th:text="${teacher.myUser.email}" th:selected="${teacher.id} == ${selectedCourse.teacher.id}"></option>
                </select>
            </div>
            <div class="form-element">
                <button type="submit" class="btn btn-primary">Update Course</button>
            </div>
        </form>


        <div class="text-left mt-2">
            students


            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="usersTable">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="courseStudent : ${courseStudents}">
                        <tr>
                            <td th:text="${courseStudent.student.myUser.id}">1</td>
                            <td th:text="${courseStudent.student.myUser.email}">example@example.com</td>
                            <td th:text="${courseStudent.student.myUser.firstName}">firstName</td>
                            <td th:text="${courseStudent.student.myUser.lastName}">lastName</td>
                            <td>
                                <form th:action="@{/admin/change-status}" method="post">
                                    <input type="hidden" name="selectedCourseStudentId" th:value="${courseStudent.id}" />
                                    <label>
                                        <select class="form-control" name="status" onchange="this.form.submit()" th:value="${courseStudent.signupStatus}" th:selected="${courseStudent.signupStatus}">
                                            <option value="WAITING" th:selected="${courseStudent.signupStatus.toString() == 'WAITING'}">WAITING</option>
                                            <option value="APPROVED" th:selected="${courseStudent.signupStatus.toString() == 'APPROVED'}">APPROVED</option>
                                            <option value="DENIED" th:selected="${courseStudent.signupStatus.toString() == 'DENIED'}">DENIED</option>
                                        </select>
                                    </label>
                                </form>

                                <!-- Button for update -->
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>