<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <a class="navbar-brand mr-1" th:href="@{/dashboard}">TestUs</a>

    <!-- Centered name -->
    <div class="navbar-nav mx-auto">
        <div class="nav-item">
            <a class="navbar-brand" th:href="@{/dashboard}" th:text="${userInfo.fullName}"></a>
        </div>
    </div>

    <!-- Right-aligned logout -->
    <div class="ml-auto">
        <a th:href="@{/logout}" class="navbar-brand">Logout</a>
    </div>
</nav>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
