<ul class="sidebar navbar-nav"
    th:fragment="sidebar"
    sec:authorize="isAuthenticated()"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:th="http://www.thymeleaf.org/">

    <!-- user avatar -->
    <div class="align-items-center mx-auto text-center text-light mt-5 mb-3 avatar d-sm-none d-lg-block d-md-block">

        <div th:text="${userInfo.fullName}"></div>
        <div class="font-italic"l
             sec:authentication="name"></div>
    </div>
    <!-- user avatar -->

    <div sec:authorize="hasAuthority('ADMIN')"
         th:remove="tag"
         th:replace="layouts/nav/admin :: admin">
        <!-- admin nav -->
    </div>

    <div sec:authorize="hasAuthority('STUDENT')"
         th:remove="tag"
         th:replace="layouts/nav/student :: student">
        <!-- buyer nav -->
    </div>

    <div sec:authorize="hasAuthority('TEACHER')"
         th:remove="tag"
         th:replace="layouts/nav/teacher :: teacher">
        <!-- seller nav -->
    </div>
    <div/>

</ul>