<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TestUs</title>
    <link rel="stylesheet" type="" href="/css/home.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="screen-1">
    <img class="logo" src="/images/testus.png" alt="Description of the image" width="300" height="193"
         xml:space="preserve"/>

    <form class = form action="/login" method="post">
        <div class="email" for="username">
            <label>Email:</label>
            <input type="text" id="username" name="username" value="student@testus.com" required>
        </div>
        <div class="password" for="password">
            <label>Password:</label>
            <input type="password" id="password" name="password" value="student" required>
        </div>
        <button class="login" type="submit">Login</button>
        <div th:if="${param.error != null}" class="alert alert-danger">
            Something is wrong. Please try again or contact support.
        </div>
    </form>
    <div
            class="register">
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>
</body>
</html>