<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container ">
        <h1 th:text="${menuTitle}">Dynamic Title</h1>
       
        <div th:each="button : ${buttons}">
            <a th:href="@{|${button.url}|}">
                <button type="button" class="btn btn-primary" th:text="${button.name}">
                </button>
            </a>
        </div> 
    </div>
</body>
</html>
