*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color:#222;
background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.popup{
    position: absolute;
    top: -150%;
    left:50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition:top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
         transform 200ms ease-in-out 0ms;
    z-index: 999;
}
.popup.active{
    top: 50%;
    opacity:1;
    transition:top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 20px 0;
    color: #222;
}

.popup .form .form-element{
    margin: 15px 0;
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}
.popup .form .form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup .form .form-element input[type="submit"]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color:#f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey color */
    backdrop-filter: blur(5px); /* Apply a blur effect */
    z-index: 998; /* Ensure the overlay is on top of other content */
}

.
